webapp/src/main/ml-schemas/book.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:b="http://www.demo.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.demo.com" elementFormDefault="qualified">
	<xs:complexType name="BookType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="date" type="xs:string"/>
			<xs:element name="authorId" type="xs:int"/>
			<xs:element name="availability" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:element name="book" type="b:BookType"/>
	<xs:complexType name="BooksType">
		<xs:sequence>
			<xs:element ref="b:book" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="books" type="b:BooksType"/>
</xs:schema>
