webapp/src/main/ml-schemas/person.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified"
xmlns:p="http://www.demo.com/person"
targetNamespace="http://www.demo.com/person"
xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
			<xs:element name="lastname" type="xs:string"/>
			<xs:element name="age" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
    </xs:complexType>
    
	<xs:element name="person" type="p:PersonType"/>
    
</xs:schema>